PORT=3001

###########################################
# Database configuration for Docker setup #
###########################################

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/permits_db?schema=public"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=permits_db


#################################################
# Database configuration for Prisma Cloud setup #
#################################################

# DATABASE_URL="postgresql://user:password@hostname:5432/mydatabase?sslmode=require"
